---
---

$font-family: Verdana, Georgia, "Times New Roman", serif;
$font-code: Courier, "Courier New", "Sans Serif";
$color-background: rgb(250,250,250);
$color-primary: rgb(38,38,38);
$color-primary-heading: rgb(0,122,222);
$color-secondary: rgb(186,186,186);
$color-tertiary: rgb(226,226,226);
$color-highlight: rgb(155,55,50);

$mini: 300px;
$medi: 800px;
$maxi: 1000px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 15px;
  color: $color-primary;
  background: #eee;
  line-height: 1.5;
}

.main {
  margin-top: 0em;
  max-width: $maxi;
  min-width: $mini;
  background: $color-background;
  padding: 1em 1em;

  @media screen and (min-width: $medi) {
    width: 100%;
    margin: 0em auto 2em; /* maybe leave at 2em auto 2em*/
    padding: 0em 4em; /* maybe leave at 3em 4em */
  }
}

#foot{
  margin-top: 1em;
  max-width: $maxi;
  min-width: $mini;
  text-align: center;
  @media screen and (min-width: $medi) {
  width: 100%;
  margin: 1em auto 2em;
  }
}

#foot p, #foot a {
  color: #cecece;
}

#foot a:hover {
  color: #595959;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  font-weight: normal;
  color: $color-primary-heading;
  text-align: center;
  margin-top: 0;
}

h1 {
  font-size: 2.0em; /* TODO set in .mainTitleH1 */
  margin-bottom: 0em;

  * + & {
    margin-top: 0.0em; /* doesn't do anything? */
  }
}

.mainTitleH1 {
  font-size: 1.8em;
}

h1 > a:visited {
  color: $color-primary-heading;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;

  * + & {
    margin-top: 2em;
  }
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.7em;

  * + & {
    margin-top: 0.6em;
  }
}

h4 {
  font-size: 0.8em;
  margin-bottom: 0.0em;
}
  * + h4 {
    margin-top: 0.0em;
  }

.h4link {
  font-family: Verdana, Georgia, "Times New Roman", serif;
  font-weight: normal;
  color: #024277;
  text-align: center;
  margin-top: 0;
  text-decoration: none;
}

.h4link:hover {
  color: rgb(6, 108, 190);
}

.btnWKNonWKKanji {
  color: rgb(220, 234, 245);
}

a.btnWKNonWKKanji:hover {
  color: #d8281e;
}

.btnResultKanjiWK {
  text-transform: lowercase;
}

p {
  line-height: 2em;
  margin-top: 0;
  margin-bottom: 1em;
}

li {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

a:not(.h4link):not(.btnWKNonWKKanji) {
  color: $color-highlight;
  text-decoration: none;
}

a:visited:not(.h4link):not(.btnWKNonWKKanji) {
  color: $color-primary;
}

a:hover:not(.h4link):not(.btnWKNonWKKanji) {
  color: $color-tertiary;
}

a:focus {
  color: #000000;
  outline: thin dotted;
}

a:hover,
  a:active {
  outline: 0;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
  border-style: solid !important;
  border-width: 2px !important;
}

.btn.title {
  font-weight: 700;
}

.btn:visited {
  color: #ffffff;
}

.btn:hover,
.btn.disable,
.btn.disable:visited,
.btn.disable:hover {
  color: #222222;
  background-color: #ffffff;
}

.btn-blue {
  color: #ffffff;
  background-color: #308cbc;
  border-color: #308cbc;
}

.btn-blue:visited {
  color: #ffffff;
}

.btn-blue:hover,
.btn-blue.disable,
.btn-blue.disable:visited,
.btn-blue.disable:hover {
  color: #308cbc;
  background-color: #ffffff;
}

.btnClip {
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
}

.btnClipLastSelected {
  /* border: 4px solid #00FF00;*/
  border: 2px solid blue;
}

/* search box italic placeholder text. All 4 following styles are necessary. */
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

.pagination {
  margin: 1em auto 0em;
  text-align: center;
}

.pagination ul {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.pagination li {
  padding-right: 4px;
  padding-left: 4px;
}

.pagination .current-page {
  font-weight: 700;
}

.inline-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.inline-list li {
  display: inline;
  list-style-type: none;
}

small {
  font-size: 75%;
  color: $color-secondary;
}

hr {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  border: 0;
  border-top: 1px solid $color-secondary;
}

article {
  list-style: none;
  margin-top: 0px;
}

.stroke {
  float: left;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 3em;
  margin-bottom: 3em;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid $color-tertiary;
}

table {
  margin: 0em auto 1.7em;
}

th, td {
  padding: 0.3em;
}

.footnotes {
  border-top: 1px solid $color-secondary;
  font-size: 0.7em;
  margin-top: 3em;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

/* Search box in index */

#search-box {
  margin: 0em;
  text-align: center;
}

#search-query {
  height: 2rem;
}

#search-button {
  height: 2rem;
}

#search-results {
  margin: 1em;
}

#kanjiViewer {
    height: 290px;
    text-align: center;
}
